<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style=" background: linear-gradient(277deg, #1946db, #ca2580, #1946db);">
<div style="text-align: center;display: flex;flex-direction: column;justify-content: center;align-items: center;min-height: 97vh;">
    <h1 style="text-align: center;">User Activation</h1>
    <h3 style="text-align: center;">Oh Bummer! Your account has already been activated or the code is invalid.</h3>
    <div>
        <a style="color: black;text-decoration: none" href="http://localhost:4200"><h3 style="background-color: #e7e7e7;border: none;padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 16px;">
            Log in now</h3></a>
    </div>
    <p style="text-align: center;">Heimdall - Copyright &#169; Heimdall Ltd</p>
</div>
</body>
</html>